* {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 300;
}

.body {
  background-image: url(./images/background.png);
}

.headers-solar {
  text-align: center;
  font-size: 40px;
}

.planet-card {
  display: flex;
  display: inline-flex;
  flex-direction: column;
  padding: 25px;
}

.planet-img {
  width: 180px;
}
